spring:
  application:
    name: music-service
  datasource:
    url: ${DATABASE_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      properties:
        hibernate.format_sql: true
logging:
  level:
    org:
      springframework.security: DEBUG
      springframework.web.access: DEBUG
      hibernate:
        type: trace
jwt:
  security:
    token: ${JWT_SECRET:my-secret}

management:
  metrics:
    tags:
      service: ${spring.application.name}
  server:
    port: 9090
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: 'health,prometheus'
  endpoint:
    health:
      enabled: true
      show-details: always
    prometheus:
      enabled: true